.highlight-helper
{
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    min-width: 1000px;
}

.highlight-helper h3
{
    text-align: center;
}

.highlight-helper__markup-code
{
    white-space: pre-wrap;
}

.highlight-helper__markup,
.highlight-helper__form-textarea
{
    width: 480px;
    height: 500px;
}

.highlight-helper__form-textarea
{
    border: none;
    resize: none;

    background-color: #fcfcfc;

    min-height: calc(18 * 15px);
}
